{% extends 'base.html.twig' %}

{% block title %}Scenario index{% endblock %}

{% block body %}
    <h1>Scenario index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Palier</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for scenario in scenarios %}
            <tr>
                <td>{{ scenario.id }}</td>
                <td>{{ scenario.nom }}</td>
                <td>{{ scenario.palier }}</td>
                <td>
                    <a class="btn btn-info" href="{{ path('app_scenario_show', {'id': scenario.id}) }}">show</a>
                    <a class="btn btn-warning" href="{{ path('app_scenario_edit', {'id': scenario.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_scenario_new') }}">Create new</a>
    <a class="btn btn-warning" href="http://127.0.0.1:8000">Retour accueil</a>
{% endblock %}
