{% extends 'base.html.twig' %}

{% block title %}Scenario
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<h1>Scenario</h1>

		<table class="table table-bordered">
			<tbody>
				<tr>
					<th scope="row">Id</th>
					<td>{{ scenario.id }}</td>
				</tr>
				<tr>
					<th scope="row">Nom</th>
					<td>{{ scenario.nom }}</td>
				</tr>
				<tr>
					<th scope="row">Palier</th>
					<td>{{ scenario.palier }}</td>
				</tr>
				<tr>
					<th scope="row">Choix associés</th>
					<td>
						{% for choix in scenario.idChoix %}
							{{ choix.id }}
							-
							{{ choix.nom }}
                            <a href="{{ path('app_choix_edit', {'id': choix.id}) }}" class="">Modifier choix</a><br>
						{% endfor %}
					</td>
				</tr>


			</tbody>
		</table>

		<a href="{{ path('app_scenario_index') }}" class="btn btn-secondary">Retour à la liste</a>
		<a href="{{ path('app_scenario_edit', {'id': scenario.id}) }}" class="btn btn-primary">Modifier</a>
        

		{{ include('scenario/_delete_form.html.twig') }}
	</div>
{% endblock %}
