{% extends 'base.html.twig' %}

{% block title %}Palier
{% endblock %}

{% block body %}
	<style>
		body {
			background: url('{{ asset('assets/images/licorne.jpg') }}') no-repeat center center fixed;
			background-size: cover;

		}

		.scenario-title{
			color: black;
			padding: 1rem;
			border-radius: 50rem;
			backdrop-filter: blur(5px);
		}

		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}

		.choice-container {
			transition: transform 0.5s ease-in-out;
			width: 20%;
			background-color: white;
			margin-right: 2rem;
			margin-top: 20px;
			border: 1px solid #ccc; /* Ajoute une bordure */
			padding: 20px; /* Ajoute un espace intérieur */
			border-radius: 8px; /* Ajoute des coins arrondis */
			text-align: center; /* Centre le contenu */
		}

		.choice-container:hover {
			transform: scale(1.2);
		}

		.container-justify-content {
			justify-content: center !important;
			display: flex !important;
		}

		.container {
			text-align: center;
			justify-content: center;
		}

		.choice-header {
			font-size: 24px;
			margin-bottom: 10px;
		}
		.choice-title {
			font-size: 20px;
			margin-bottom: 5px;
		}
		.choice-description {
			margin-bottom: 20px;
		}
	</style>
	<div class="container">
		<h1 class="scenario-title">Scénario :
			{{ scenario.nom }}</h1>
		<div class="row container-justify-content">
			{% for choix in scenario.getIdChoix %}
				<div class="choice-container mr-2">
					<h2 class="choice-header">
						<a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal{{choix.id}}">{{ choix.nom }}</a>
					</h2>
					<p class="choice-description">{{ choix.description }}</p>
				</div>
				<div class="modal fade" id="modal{{choix.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Conséquences :
								</h5>
								</button>
							</div>
							<div class="modal-body">
								{{choix.consequenceToString}}
							</div>
							<div class="modal-footer">
								<a href="{{ path('app_consequence', {id: choix.id, 'palier': palier}) }}" type="button" class="btn btn-primary">Suivant</a>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
			<div class="container stats-container">
				<div class="row fixed-bottom justify-content-center">
					<div class="col-md-8">
						<div class="example-wrapper text-center py-3 border rounded shadow bg-light">
							<p class="mb-0">
								<span class="border rounded shadow p-2 pl-2 pr-2 m-4 bg-warning">{{ licorne.nom }}</span>
								<span class="border rounded shadow p-2 pl-2 pr-2 m-4 bg-warning">PV :
									{{ licorne.pv }}</span>
								<span class="border rounded shadow p-2 pl-2 pr-2 m-4 bg-warning">Intelligence :
									{{ licorne.intelligence }}</span>
								<span class="border rounded shadow p-2 pl-2 pr-2 m-4 bg-warning">Force :
									{{ licorne.strenght }}</span>
								<span class="border rounded shadow p-2 pl-2 pr-2 m-4 bg-warning">Esquive :
									{{ licorne.esquive }}</span>
							</p>
						</div>
					</div>
				</div>
			</div>


		{% endblock %}
