{% extends 'base.html.twig' %}

{% block title %}Choix index{% endblock %}

{% block body %}
    <h1>Liste des choix</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Consequences</th>
                <th>Scenario</th> {# Nouvelle colonne pour afficher le palier #}
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for choix in choixes %}
            <tr>
                <td>{{ choix.id }}</td>
                <td>{{ choix.nom }}</td>
                <td>{{ choix.description }}</td>
                <td>{{ choix.consequences }}</td>
                <td>{{ choix.idScenario.nom }}</td> {# Affiche le nom du palier lié au choix #}
                <td>
                    <a class="btn btn-info" href="{{ path('app_choix_show', {'id': choix.id}) }}">Show</a>
                    <a class="btn btn-warning" href="{{ path('app_choix_edit', {'id': choix.id}) }}">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_choix_new') }}">Nouveau choix</a>
{% endblock %}
