{% extends 'base.html.twig' %}

{% block title %}ScoreBoard
{% endblock %}

{% block body %}
	<style>
	.container-story{
		margin: 15rem 15rem;
	}

	.container-story p{
		font-size: 20px;
	}
	</style>
	<div class="container mt-5">
		<h1>Scoreboard</h1>

		<table class="table table-striped">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nom</th>
					<th>Strenght</th>
					<th>Intelligence</th>
					<th>Esquive</th>
					<th>Pv</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for licorne in licornes %}
					<tr>
						<td>{{ licorne.id }}</td>
						<td>{{ licorne.nom }}</td>
						<td>{{ licorne.strenght }}</td>
						<td>{{ licorne.intelligence }}</td>
						<td>{{ licorne.esquive }}</td>
						<td>{{ licorne.pv }}</td>
						<td>
							<a href="{{ path('app_licorne_show', {'id': licorne.id}) }}" class="btn btn-info">Show</a>
							<a href="{{ path('app_licorne_edit', {'id': licorne.id}) }}" class="btn btn-warning">Edit</a>
							<a href="{{ path('app_palier', {'id': licorne.id}) }}" class="btn btn-primary">Jouer</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="7">No records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<a href="{{ path('app_licorne_new') }}" class="btn btn-success">Nouvelle licorne</a>
		<a href="{{ path('home') }}" class="btn btn-warning">Retourn accueil</a>
	</div>

	<div class="container-story text-center border p-4 mt-5">
		<h2>Synopsis</h2><br>
		<p>L'espèce humaine à découvert votre race de <strong>licorne intelligente</strong> dans un coin perdu. Ils ont décidés d'enfermer toutes l'espèces dans un complex.
						Vous êtes une licorne enfermé par le gouvernement pour étudier son comportement en société et voir si l'espèce humaine peut vivre en cohésion avec la vôtre. Vos choix sont déterminant pour votre espèce.</p>
	</div>
{% endblock %}
