{% extends 'base.html.twig' %}

{% block title %}Licorne{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Licorne</h1>

        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th scope="row">Id</th>
                    <td>{{ licorne.id }}</td>
                </tr>
                <tr>
                    <th scope="row">Nom</th>
                    <td>{{ licorne.nom }}</td>
                </tr>
                <tr>
                    <th scope="row">Strenght</th>
                    <td>{{ licorne.strenght }}</td>
                </tr>
                <tr>
                    <th scope="row">Intelligence</th>
                    <td>{{ licorne.intelligence }}</td>
                </tr>
                <tr>
                    <th scope="row">Esquive</th>
                    <td>{{ licorne.esquive }}</td>
                </tr>
                <tr>
                    <th scope="row">Pv</th>
                    <td>{{ licorne.pv }}</td>
                </tr>
            </tbody>
        </table>

        <a href="{{ path('app_licorne_index') }}" class="btn btn-secondary">Retour à la liste</a>
        <a href="{{ path('app_licorne_edit', {'id': licorne.id}) }}" class="btn btn-primary">Modifier</a>

        {{ include('licorne/_delete_form.html.twig') }}
    </div>
{% endblock %}
